@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding:55px;
}
@media only screen and (max-width: 798px) {

  html{
    scroll-behavior: smooth;
    scroll-padding:-60px;
  }
}
span{
  color: blueviolet;
}